/*
Colors used:
Primary Color (Blue Gray): #D1D9E6;
Secondary Color (Purple): #D1A9F5;
Secondary Color (Rose): #F5D5D9;
Secondary Color (Neon Green): #4feeb4;
Secondary Color (Green): #5cb897;
*/

/*Affects all elements*/
* {
  box-sizing: border-box;
}


/*header*/
header {
  background-color: #d7dfec;
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.54);/*shadow*/
  -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.54);
  box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.54);
  border-bottom: 4px solid #F5D5D9
}

.logo {
  max-width: 250px;
}

/*menu*/
nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 1.7em;
  color: #D1A9F5;
}

nav > ul > li > a:visited{
  color: #5cb897;
	font-weight: 900;
}

nav > ul > li > a:hover{
  color: #D1A9F5;
  text-decoration: underline;
}

nav > ul > li > a:focus{
  color: #D1A9F5;
  text-decoration: underline;
}

nav > ul > li > a:active{
  color: #D1A9F5;
	font-weight: 900;
}

/*main*/
main{
  padding-top: 250px;
}


/*body*/
body {
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  font-weight: 350;
}


/*images:*/
img {
  width:100%;
	height:auto;
}



/*links and buttons:*/
a {
  color: #D1A9F5;
  text-decoration: none; /* No underlining */
}

a:focus,
a:hover {
  color: #D1A9F5;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: ##5cb897;
	font-weight: 600
}

a:active { /* selected link */
  color: ##5cb897;
	font-weight: 600;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F5D5D9;
  color: #D1A9F5; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.visited {
  font-weight: 600;
}

.button.active {
  font-weight: 600;
}


.button.contact {
	display: inline-block;
  background-color: transparent;
  color: #D1A9F5;
  padding: 10px;
	border-radius: 0px;
  border: 4px solid #F5D5D9;
  transition: 0.2s opacity;
}

.button.contact:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact.visited {
  font-weight: 600;
}

.button.contact.active {
  font-weight: 600;
}


/*footer*/
footer {
  display: inline-block;
  float: center;
  width: 100%;
  text-align: center;
  background-color: #eaf8df;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 4px solid #D1A9F5;
}
footer .social{
  text-align: center;
}

footer .social > div{
  display:inline-block;
  padding: 0 10px;
}

footer .social h4{
  margin-bottom: 10px;
}

/* Layout styling */
.container {
  padding: 0px 15px;
}

/* Rows */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* IDs */
#hero {
  display: inline-block;
  width: 100%;
  background-color: #d7dfec;
  padding: 10px 15px;
}

#work
.row {
   padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
 }

#introduction
.row {
   padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
 }

 #about
 .row {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
  }
