/*
Colors used:
Primary Color (Blue Gray): #D1D9E6;
Secondary Color (Purple): #D1A9F5;
Secondary Color (Rose): #F5D5D9;
Secondary Color (Neon Green): #4feeb4;
Secondary Color (Green): #D9FABE;
*/

/*body: fonts*/
body {
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}
h4 {
  font-size: 1.3em;
  font-weight: 350;
}


/*images:*/
img {
  width:100%;
	height:auto;
}



/*links and buttons:*/
a {
  color: #D1A9F5;
  text-decoration: none; /* No underlining */
}

a:focus,
a:hover {
  color: #D1A9F5;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: ##5cb897;
}

a:active { /* selected link */
  color: ##5cb897;
	font-weight: 600;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F5D5D9;
  color: #D1A9F5; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
